<form action="/results" method="POST">
  Name:<br>
  <input type="text" name="name" class="name">
  <br>
  Email:<br>
  <input type="text" name="email" class="email">
  <br>
  Comments:<br>
  <textarea row="4" cols="50" name="comments" class="commments"></textarea>
  <br><br>
  <input type="submit" value="Submit" class="submit">
</form>