<form action="/results">
  Name:<br>
  <input type="text" name="firstname" class="firstname">
  <br>
  Email:<br>
  <input type="text" name="email" class="email">
  <br>
  Comments:<br>
  <textarea row="4" cols="50" class="commments"></textarea>
  <br><br>
  <input type="submit" value="Submit" onclick=submit()>
</form> 